<%= form_with model: [@organization, @membership], class: "p-4 space-y-4" do |form| %>
  <div class="">
    <%= form.label :role %>
    <div>
      <% Role.all.each do |role| %>
        <div class="flex items-center gap-2">
          <%= form.radio_button :role_id, role.id %>
          <%= form.label :role_name, role.name %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form.submit class: "btn-primary" %>
<% end %>