<div class="p-2 flex gap-4">
  <div class="p-4 flex flex-col space-y-4 rounded-md shadow-lg border dark:border-gray-700 w-1/3">
    <h1 class="text-xl font-bold">User Profile</h1>
    <% if @profile.avatar.attached? %>
      <%= image_tag url_for(@profile.avatar) , class: "w-20 h-20 rounded-full" %>
    <% end%>
    <p>Email: <span class="font-bold"> <%= @user.email %></span></p>
    <p>Full Name: <span class="font-bold"> <%= @profile.full_name %></span></p>
    <p>Address: <span class="font-bold"><%= @profile.full_address %></span></p>
    <p>Timezone: <span class="font-bold"><%= @profile.timezone %></span></p>
    <%= link_to 'Edit user profile', edit_user_path(@user), class: 'font-bold hover:underline' %>
  </div>
  <div class="p-4 flex flex-col space-y-4 rounded-md shadow-lg border dark:border-gray-700 w-1/3">
    <h1 class="text-xl font-bold">Salary Details</h1>
    <p>Annaul Salary: <span class="font-bold"> 360000.00</span></p>
    <p>Monthly Salary: <span class="font-bold"> 300000.00</span></p>
    <%= link_to 'Edit Salary details', edit_user_path(@user), class: 'font-bold hover:underline' %>
  </div>
</div>
