<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Aipan Projects" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="w-full h-screen flex">
    <%= render 'shared/flash' %>
    <%= render 'shared/sidebar' %>
    <div class="flex-1 flex flex-col">
      <%= render 'shared/header' %>
      <main class="flex flex-1 w-full">
        <% if current_organization.present? %>
          <div class="w-56 h-full flex flex-col bg-green-200">
            <div class="py-4 w-full flex flex-col gap-2">
              <%= active_link_to "Users", organization_memberships_path(current_organization), class_active: "text-red-600 border border-red-500 rounded", class: "w-full px-2 py-1 text-black" %>
              <%= active_link_to "Projects", organization_projects_path(current_organization), class_active: "text-red-600 border border-red-500 rounded", class: "w-full px-2 py-1 text-black" %>
              <%= active_link_to "Departments", organization_departments_path(current_organization), class_active: "text-red-600 border border-red-500 rounded", class: "w-full px-2 py-1 text-black" %>
              <%= active_link_to "Announcements", organization_announcements_path(current_organization), class_active: "text-red-600 border border-red-500 rounded", class: "w-full px-2 py-1 text-black" %>
            </div>
          </div>
        <% end %>
        <div class="flex-1">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
